// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// The 'What's new' box in the home page hero
.app-latest-update {
  padding-bottom: nhsuk-spacing(8);
  padding-top: nhsuk-spacing(8);

  @include mq($until: desktop) {
    padding-bottom: nhsuk-spacing(6);
    padding-top: 0;
  }
}

// Custom style for home page hero card
.app-card--transparent {
  background: transparent !important ;
  border: 2px solid $nhsuk-secondary-border-color;
  color: $color_nhsuk-white;

  a {
    color: $color_nhsuk-white;

    &:hover,
    &:visited {
      color: $color_nhsuk-grey-5;
    }

    &:focus {
      color: $nhsuk-focus-text-color;
    }

  }
}

// Card video

.app-card__video {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
